@let lang = locale.langSig();
<ion-tabs (ionTabsDidChange)="onTabsChanged($event)">
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home" href="/tabs/home">
      <ion-icon name="sparkles-outline" aria-hidden="true"></ion-icon>
      <ion-label>{{ 'tabs.home' | i18n:null:lang}}</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="play" href="/tabs/play">
      <ion-icon name="earth-outline" aria-hidden="true"></ion-icon>
      <ion-label>{{ 'tabs.play' | i18n:null:lang}}</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="knowledge" href="/tabs/knowledge">
      <ion-icon name="library-outline" aria-hidden="true"></ion-icon>
      <ion-label>{{ 'tabs.knowledge' | i18n:null:lang}}</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="progress" href="/tabs/progress">
      <ion-icon name="stats-chart-outline" aria-hidden="true"></ion-icon>
      <ion-label>{{ 'tabs.progress' | i18n:null:lang}}</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="settings" href="/tabs/settings">
      <ion-icon name="settings-outline" aria-hidden="true"></ion-icon>
      <ion-label>{{ 'tabs.settings' | i18n:null:lang}}</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
